
/*Content backgroun image for floor 1*/

/*Content backgroun image for floor 2*/

/*Content backgroun image for floor 3*/

/*Content backgroun image for floor 4*/
.content__item[data-space='4.457'] {
	background-image: url("../img/fashion-cloth.jpg");
}

.content__item[data-space='4.459'] {
	background-image: url("../img/fashion-cloth.jpg");
}

.content__item[data-space='4.454'] {
	background-image: url("../img/fashion-cloth.jpg");
}

.content__item[data-space='4.451'] {
	background-image: url("../img/fashion-cloth.jpg");
}

.content__item[data-space='4.445'] {
	background-image: url("../img/fashion-cloth.jpg");
}

.content__item[data-space='4.449'] {
	background-image: url("../img/fashion-cloth.jpg");
}

.content__item[data-space='4.443'] {
	background-image: url("../img/fashion-cloth.jpg");
}

.content__item[data-space='4.444'] {
	background-image: url("../img/fashion-cloth.jpg");
}

.content__item[data-space='4.466'] {
	background-image: url("../img/fashion-cloth.jpg");
}

.content__item[data-space='4.461'] {
	background-image: url("../img/fashion-cloth.jpg");
}

.content__item[data-space='4.465'] {
	background-image: url("../img/fashion-cloth.jpg");
}

.content__item[data-space='4.463'] {
	background-image: url("../img/fashion-cloth.jpg");
}

.content__item[data-space='4.434'] {
	background-image: url("../img/fashion-cloth.jpg");
}

.content__item[data-space='4.430'] {
	background-image: url("../img/fashion-cloth.jpg");
}

.content__item[data-space='4.418'] {
	background-image: url("../img/classroom.jpg");
}

.content__item[data-space='4.416'] {
	background-image: url("../img/fashion-cloth.jpg");
}

.content__item[data-space='4.420'] {
	background-image: url("../img/fashion-cloth.jpg");
}
