
/* Pins for floor 1 */
.pin--1-1 { top: 60vmin; left: 8vmin; }
.pin--1-2 { top: 15vmin; left: 15vmin; }
.pin--1-3 { top: 15vmin; left: 88vmin; }
.pin--1-4 { top: 40vmin; left: 77vmin; }
.pin--1-5 { top: 33vmin; left: 38vmin; }
.pin--1-6 { top: 6vmin; left: 27vmin; }
.pin--1-7 { top: 36vmin; left: 61vmin; }
.pin--1-8 { top: 9vmin; left: 59vmin; }
.pin--1-9 { top: 8vmin; left: 51vmin; }

/* Pins for floor 2 */
.pin--2-1 { top: 7vmin; left: 22vmin; }
.pin--2-2 { top: 39vmin; left: 5vmin; }
.pin--2-3 { top: 21vmin; left: 84vmin; }
.pin--2-4 { top: 39vmin; left: 53vmin; }
.pin--2-5 { top: 14vmin; left: 50vmin; }
.pin--2-6 { top: 60vmin; left: 15vmin; }
.pin--2-7 { top: 34vmin; left: 37vmin; }
.pin--2-8 { top: 52vmin; left: 74vmin; }

/* Pins for floor 3 */
.pin--3-1 { top: 17vmin; left: 15vmin; }
.pin--3-2 { top: 42vmin; left: 5vmin; }
.pin--3-3 { top: 19vmin; left: 85vmin; }
.pin--3-4 { top: 61vmin; left: 57vmin; }
.pin--3-5 { top: 58vmin; left: 25vmin; }
.pin--3-6 { top: 30vmin; left: 57vmin; }
.pin--3-7 { top: 32vmin; left: 37vmin; }

/* Pins for floor 4 */
/*.pin--4-1 { top: 50vmin; left: 17vmin; }*/
.pin--4-2 { top: 18vmin; left: 20vmin; }
.pin--4-3 { top: 21vmin; left: 88vmin; }
.pin--4-4 { top: 52vmin; left: 74vmin; }
.pin--4-5 { top: 33vmin; left: 38vmin; }
.pin--4-6 { top: 39vmin; left: 56vmin; }
.pin--4-7 { top: 58vmin; left: 10vmin; }

.pin--4-lab-457 { top: 87vmin; left: 47.5vmin; }
.pin--4-lab-459 { top: 87vmin; left: 40.5vmin; }
.pin--4-lab-454 { top: 79vmin; left: 57.5vmin; }

.pin--4-lab-451 { top: 79vmin; left: 65.5vmin; }
.pin--4-lab-452 { top: 70vmin; left: 59.5vmin; }
.pin--4-lab-453 { top: 70vmin; left: 54.5vmin; }

.pin--4-lab-461 { top: 69vmin; left: 32.5vmin; }
.pin--4-lab-463 { top: 72vmin; left: 40.5vmin; }
.pin--4-lab-465 { top: 65vmin; left: 39.5vmin; }
.pin--4-lab-466 { top: 63vmin; left: 32.5vmin; }

.pin--4-lab-445 { top: 64vmin; left: 50.5vmin; }
.pin--4-lab-444 { top: 58vmin; left: 50.5vmin; }
.pin--4-lab-443 { top: 58vmin; left: 58.5vmin; }
.pin--4-lab-449 { top: 64vmin; left: 58.5vmin; }

.pin--4-lab-434 { top: 50.5vmin; left: 46.5vmin; }
.pin--4-lab-436 { top: 44.3vmin; left: 42.5vmin; }
.pin--4-lab-439 { top: 43.3vmin; left: 51.5vmin; }

.pin--4-lab-430 { top: 55.3vmin; left: 25.5vmin; }

.pin--4-lab-418 { top: 44.3vmin; left: 25.5vmin }
.pin--4-lab-416 { top: 37.3vmin; left: 25.8vmin; }
.pin--4-lab-420 { top: 37.3vmin; left: 18.8vmin; }
.pin--4-lab-422 { top: 44.3vmin; left: 18.8vmin; }

.pin--4-lab-410 { top: 24.3vmin; left: 18.8vmin; }
.pin--4-lab-412 { top: 23.8vmin; left: 8.8vmin; }
.pin--4-lab-405 { top: 16.3vmin; left: 24.8vmin; }

.pin--4-stair-0 { top: 50vmin; left: 17.5vmin; }
.pin--4-stair-1 { top: 74vmin; left: 33vmin; }
.pin--4-stair-2 { top: 65vmin; left: 68vmin; }
.pin--4-stair-3 { top: 51vmin; left: 62vmin; }
.pin--4-stair-4 { top: 25vmin; left: 37vmin; }
.pin--4-stair-5 { top: 33vmin; left: 5vmin; }

.pin--4-elevator-1 { top: 54vmin; left: 14vmin; }

.pin--4-washroom-w-1 { top: 40vmin; left: 36vmin;  }
.pin--4-washroom-m-1 { top: 43vmin; left: 36vmin;  }
.pin--4-washroom-w-2 { top: 52vmin; left: 36.3vmin;  }
.pin--4-washroom-m-2 { top: 55.5vmin; left: 37vmin; }

