body {
	background-color:#EBE8E2;
	
	/* Firefox */
	background-image:
		-moz-radial-gradient(circle, #FFFFFF, transparent 20px),
		-moz-radial-gradient(circle, #FFFFFF, transparent 10px),
		-moz-radial-gradient(circle, rgba(255,255,255,.9), transparent 20px),
		-moz-radial-gradient(circle, rgba(255,255,255,.4), transparent 10px);
	
	/* Webkit */
	background-image:
		-webkit-gradient(radial, 50% 50%, 0, 50% 50%, 20, from(white), to(transparent)),
		-webkit-gradient(radial, 50% 50%, 0, 50% 50%, 10, from(white), to(transparent)),
		-webkit-gradient(radial, 50% 50%, 0, 50% 50%, 20, from(rgba(255,255,255,.9)), to(transparent)),
		-webkit-gradient(radial, 50% 50%, 0, 50% 50%, 10, from(rgba(255,255,255,.4)), to(transparent));
	
	/* Background Attributes */
	background-size: 550px 550px, 350px 350px, 250px 270px, 220px 200px; 
	background-position: 0 0, 30px 60px, 130px 270px, 70px 150px;
	
	/* Animation */
	animation-name: movement;
	animation-duration: 5s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;

	/* Firefox */
	-moz-animation-name: movement;
	-moz-animation-duration: 5s;
	-moz-animation-timing-function: linear;
	-moz-animation-iteration-count: infinite;

	/* Webkit */
	-webkit-animation-name: movement;
	-webkit-animation-duration: 5s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
	}
	@keyframes movement
	{
		from {
				background-position: 0 0, 30px 60px, 130px 270px, 70px 150px;
		}
		to {
				background-position: -550px 550px, -320px 410px, -120px 540px, -150px 350px;
		}	
	}
	@-moz-keyframes movement
	{
		from {
				background-position: 0 0, 30px 60px, 130px 270px, 70px 150px;
		}
		to {
				background-position: -550px 550px, -320px 410px, -120px 540px, -150px 350px;
		}	
	}
	@-webkit-keyframes movement
	{
		from {
				background-position: 0 0, 30px 60px, 130px 270px, 70px 150px;
		}
		to {
				background-position: -550px 550px, -320px 410px, -120px 540px, -150px 350px;
		}	

	}